<h2>Вход для администраторов</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Войти" %>
  </div>
<% end %>

<%= link_to "Я сотрудник", new_worker_session_path() %>
